version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./pgdb/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file: ./.env

  celery:
    build: .
    command: celery -A core worker -l INFO
    volumes:
      - .:/co
    environment:
      - DEBUG=1
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    depends_on:
      - web
      - redis

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver
    volumes:
      - .:/co
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis

  redis:
    image: "redis:alpine"